*{margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;}

body{background-color: rgb(12, 12, 12) !important;}
.main-container{width: 1000px; margin:30px auto;}
.page-main-head{font-size: 24px; text-align: center; font-weight: 700; color: #fdaeae; margin-bottom: 20px;}
.items{display: flex; align-items: center; height: 210px; gap: 18px; background-color: #423f3f; margin-bottom: 20px;}
.user-img .user-image{height: 210px; width: 210px; display: flex;}
.user-img .user-image img{width: 100%;}
.items-rgt{padding: 15px; display: grid; grid-template-columns: auto auto auto; gap: 40px;}
.info-main-head{font-size: 18px; font-weight: 700; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #6e6d6d; color: #fdaeae;}
.personal-info{margin-bottom: 10px;}
.items-rgt span.bold-span{font-weight: 600; color: #fdaeae;}
.personal-info h2{font-size: 16px; font-weight: 400; margin-bottom: 8px; color: #fff;}
.personal-info p, .personal-info h4, .user-address p, .company-info p{font-size: 14px; color: #fff; margin-bottom: 8px;}
.paginateinnerbtn{background-color: #fff !important;}
.paginateinnerbtn.active{background-color: aqua !important;}